<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_header :: head(~{::title},~{::link})">
    <title>Home</title>
    <link href="https://unpkg.com/tabulator-tables@4.4.1/dist/css/tabulator.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="common_header :: navbar"></nav>
<section class="section">
    <div class="columns">
        <div class="column is-6">
                <p>予測不可能driving</p>
                <div id="location-table"></div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.4.1/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>